// ***************SEARCH ****************************
label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;

}

input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;

  @media (max-width: 700px) {
    width: 300px;
  }
}

input:focus {
  outline: #336699 auto 1px;
}

li {
  list-style-type: none;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
}

//******************TABLE********************
p {
  font-size: 14px;
  margin: 2px;
}

table {
  width: 80%;
}

table, th, td {
  border: 1px solid;
  text-align: center;
  border-collapse: collapse;
  padding: 10px;
  margin: 0 auto;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 79px;
  cursor: pointer;

  @media (max-width: 400px) {
    width: 300px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    height: 100px;

    li{
      //width: 40px;
      font-size: 12px;
    }

    .pagination {
      justify-content: center;
    };
  }
}

.limit {
  margin-left: 20px;
  @media (max-width: 400px) {
    margin-left: 0;
  }
}
