<div id="search-component">
  <label for="search-box">Search</label>
  <input #searchBox id="search-box"/>
</div>

<div class="winners_container">
  <h1 class="title">Result</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
    <tr *ngFor="let item of _items">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>
        <p *ngFor="let tag of item.tags">{{tag + " "}}
        </p>
      </td>
    </tr>
  </table>
</div>


<!--<div id="search-component">-->
<!--  <label for="search-box">Hero Search</label>-->
<!--  <input #searchBox id="search-box" (input)="search(searchBox.value)" />-->

<!--  <ul class="search-result">-->
<!--    <li *ngFor="let hero of heroes$ | async" >-->
<!--      <a routerLink="/detail/{{hero.id}}">-->
<!--        {{hero.name}}-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

